@{
    ViewData["Title"] = "Home";
}

<div class="login-box">
    <div class="logo">
        <h1 class="logo-title">Click@Acc</h1>
        <p class="logo-slogan">Click for your integrated business solution</p>
    </div>

    <div class="button-group">
        <a href="/Account/Login" class="btn btn-primary btn-block">Login</a>
        <a href="/Account/Register" class="btn btn-primary btn-block">Register</a>
    </div>
</div>
